AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 100
BreakBeforeTernaryOperators: true
AlignConsecutiveAssignments: true
IndentWidth: 2
PointerAlignment: Left
